body{
	background-image: url('../images/spotStreaks.jpg');
	background-color: lightblue;
	font-family: 'Exo 2';
	font-size: 20px;
}

h1{
	background-image: url('../images/blurryLights.jpg');
	background-color: green;
	border-radius: 25px;
	padding: 20px;
}

.imgBack{
	/*height: 200px;*/
	background-image: url('../images/blurryLights.png');
	background-size: 300px 200px;
	background-repeat: space;
	border-radius: 25px;
	color: cyan;
	font-size: 70px;
	font-family: 'Bungee Shade';
	padding: 40px;
	text-align: center;
}

.count{
	background-image: url('../images/blurryLights.jpg');
	background-color: turquoise;
	color: white;
	font-family: 
	/*border: 1px solid black;*/
	padding: 25px;
	margin: 25px;
	margin-right: 48%;
	margin-left: 10%;
}

.countOld{
	background-image: url('../images/blurryLights.jpg');
	background-color: turquoise;
	color: white;
	margin-right: 78%;
}

.countNew{
	background-image: url('../images/blurryLights.jpg');
	background-color: turquoise;
	color: white;
	margin-right: 77%;
}

.main{
	background-color: lavender;
	border: 1px solid black;
	margin: 5px;
	margin-right: 10%;
	margin-left: 10%;
}

.message{
	margin: 5px;
}

.message:hover{
	cursor: pointer;
}

.body{
	display: none;
}

.moreMain{
	background-color: lavender;
	border: 1px solid black;
	margin: 5px;
	margin-right: 10%;
	margin-left: 10%;
}

.moreMessage{
	margin: 5px;
}

.moreMessage:hover{
	cursor: pointer;
}

.moreBody{
	display: none;
}

.newMain{
	background-color: lavender;
	border: 1px solid black;
	margin: 5px;
	margin-right: 10%;
	margin-left: 10%;
}

.newMessage{
	margin: 5px;
}

.newMessage:hover{
	cursor: pointer;
}

.newBody{
	display: none;
}

.buttonStart{
	background-image: url('../images/blurryLights.jpg');
	/*background-color: gray;*/
	cursor: pointer;
	margin: 5px;
	margin-right: 75%;
	border: 1px solid black;
}

.buttonStop{
	background-image: url('../images/blurryLights.jpg');
	/*background-color: gray;*/
	cursor: pointer;
	margin: 5px;
	margin-right: 75%;
	border: 1px solid black;
}