body{
	background-color: lightblue;
}

h1{
	background-color: green;
	padding: 20px;
}

.count{
	background-color: turquoise;
	/*border: 1px solid black;*/
	margin: 5px;
	margin-right: 48%;
	margin-left: 10%;
}

.countOld{
	background-color: turquoise;
	margin-right: 78%;
}

.countNew{
	background-color: turquoise;
	margin-right: 77%;
}

.main{
	background-color: lavender;
	border: 1px solid black;
	margin: 5px;
	margin-right: 10%;
	margin-left: 10%;
}

.message{
	margin: 5px;
}

.message:hover{
	cursor: pointer;
}

.body{
	display: none;
}

.moreMain{
	background-color: lavender;
	border: 1px solid black;
	margin: 5px;
	margin-right: 10%;
	margin-left: 10%;
}

.moreMessage{
	margin: 5px;
}

.moreMessage:hover{
	cursor: pointer;
}

.moreBody{
	display: none;
}